body{
    font-style: arial;
    background-color: grey;
    margin: 0;
}
.tboolist{
 box-sizing: border-box;
 width: 1080;
 margin: auto;
}
header{
    width: 1080;
    height:auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 35px;

}

.logo{
    width: 50px;
    vertical-align: middle;


}
h1{
    font-size: 50px;
   line-height: 50px;
   display: inline;
   font-weight: normal;
   vertical-align: middle;
}
main{
    background-color: grey;



}
.select-button{
margin-top: 20px;
    background-color: white;
 width: 50%;
 margin: auto;
 padding:15px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}
button{
    background-color: #47ADF1;
    border-style: none;
    border-radius: 3px;
  
   

}
.task{
    background-color: #47ADF1;
    color: white;
    margin-left: 28px;
}

.section{
    background-color: white;
    color: grey;
    border-style: solid;
   border-color: grey;
}
.container{
    background-color: white;
 width: 50%;
 margin: auto;
 padding:15px;
 margin-top: 1px;
}
ul{   
    list-style:none;
}
#option{
    padding-left: 0;
}
.check{
    color: green;
    border-style: solid;
    border-radius: 16px;
    border: 0.5px;