body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0;
}
.tboolist{
 box-sizing: border-box;
 width: 1080px;
 margin: auto;
}
header{
    height:auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 35px;

}

.logo{
    width: 50px;
    vertical-align: middle;


}
h1{
    font-size: 50px;
   line-height: 50px;
   display: inline;
   font-weight: normal;
   vertical-align: middle;
}
main{
    background-color: grey;



}
.select-button{
margin-top: 20px;
    background-color: white;
 width: 50%;
 margin: auto;
 padding:15px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}
button{

    border-style: none;
    border-radius: 8px;
    padding: 5px;
  
   

}
.task{
    background-color: #47ADF1;
    color: white;
    margin-left: 28px;
    padding: 6px;

}

.section{
    background-color: white;
    color: grey;
    border-style: solid;
   border-color: grey;
}
/* main */
.container{
    background-color: white;
 width: 50%;
 margin: auto;
 padding:15px;
 margin-top: 1px;
}
.list{
    margin-left: 33px;
}
ul{   
    list-style:none;
    padding-inline-start: 0;
}
.check{
    color: green;
    border: solid;
    border-radius: 16px;
    border-width: 1px;
}
.cross{
    color: red;
    border: solid;
    border-radius: 16px;
    border-width: 1px;
}
li{
  margin-top: 20px; 
  padding-left: 0; 
}
.task-name{
    margin-top: 30px;  
}
.edit{
    border: none ;
    border-radius: 11px;
    background-color: #47ADF1;
    margin-left: 3px;
    padding: 5px;
}
#goal{
    border: none ;
    border-radius: 11px;
    background-color: #9C72E4;
    margin-left: 3px;
    padding: 5px;
}#recruit{
    border: none ;
    border-radius: 11px;
    background-color: #64C0A9;
    margin-left: 3px;
    padding: 5px;
}#mobile{
    border: none ;
    border-radius: 11px;
    background-color: #F29E33;
    margin-left: 3px;
    padding: 5px;
}#web{
    border: none ;
    border-radius: 11px;
    background-color: #D863A1;
    margin-left: 3px;
    padding: 5px;
}#sales{
    border: none ;
    border-radius: 11px;
    background-color: #B0C926;
    margin-left: 3px;
    padding: 5px;
}
span{
    margin-right: 9px;
}